@model Shop_Online.Models.ViewModels.OrderInfo
@{
    ViewData["Title"] = "Đơn hàng - ";
}
<div class="container-fluid border">
    @Model.name
    @Model.phone_number
    @Model.address
    @Model.note
    @Model.birthDay
    @Model.gender
    @Model.cart
</div>