@model List<Shop_Online.Models.ViewModels.CartItem>
@{
    ViewData["Title"] = "Giỏ hàng - ";
    ViewData["Description"] = "Giỏ hàng của bạn tại Hoàng Linh Computer.";
    ViewData["Keyworks"] = "gio hang";
    ViewData["Author"] = "Giỏ hàng";
    ViewData["Og-Title"] = "Giỏ hàng";
    ViewData["Og-Description"] = "Giỏ hàng của bạn tại Hoàng Linh Computer.";

    //SỬA SAU
    ViewData["Og-Url"] = "https://hoanglinh.tk/carts";
    ViewData["Og-Image"] = "/Images/logo.png";
    ViewData["Img-Src"] = "/Images/logo.png";
    ViewData["Dc-Title"] = "Giỏ hàng";
    ViewData["Dc-Identifier"] = "";
    ViewData["Dc-Description"] = "Giỏ hàng của bạn tại Hoàng Linh Computer.";
    ViewData["Dc-Subject"] = "gio hang";
    ViewData["Alternate"] = "";
    ViewData["Canonical"] = "";

}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb px-lg-5 mb-0">
        <li class="breadcrumb-item"><a href="/" title="Trang chủ">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
    </ol>
</nav>
<div class="container-fluid">
    <div class="container" id="cart">
            @if (Model.Count() > 0)
            {
                <h1 class="text-center w-100 text-primary py-2">Giỏ hàng của bạn có @Model.Count() sản phẩm</h1>
                <hr class="w-100"/>
            }
            else
            {
                <h1 class="text-center w-100 text-warning py-2">Giỏ hàng của bạn chưa có sản phẩm</h1>
                <p class="w-100 text-center text-primary">
                    <a href="/" title="Trang chủ">
                        <i>Khám phá thêm sản phẩm tại HoangLinh.vn</i>
                    </a>
                </p>
            }
        @if (Model != null && Model.Count() > 0)
        {
            <div class="row  d-lg-flex d-none">
                <div class="col-md-3 align-self-center ">
                </div>
                <div class="col-md-8  align-self-center">
                    <div class="row">
                        <div class="col-lg-6 ">
                            <p class="m-0 text-center">
                                <strong>
                                    Sản phẩm
                                </strong>
                            </p>
                        </div>
                        <div class="col-lg-2 ">
                            <p class="m-0 text-center">
                                <strong>
                                    Giá trị
                                </strong>
                            </p>
                        </div>
                        <div class="col-lg-2 ">
                            <p class="m-0 text-center">
                                <strong>
                                    Số lượng
                                </strong>
                            </p>
                        </div>
                        <div class="col-lg-2 ">
                            <p class="m-0 text-center">
                                <strong>
                                    Thành tiền
                                </strong>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 align-self-center ">

                </div>
            </div>
            foreach (var item in Model)
            {
                <div class="row my-3 py-1 border rounded" id="item_@item.product.ID">
                    <div class="col-md-3 align-self-center order-md-1 order-2 ">
                        <img class="img-fluid thumbnail w-100" src="@item.thumbnail.Image" alt="@item.product.Product_Name" />
                    </div>
                    <div class="col-md-8 align-self-center order-md-2 order-3 ">
                        <div class="row">
                            <div class="col-lg-6 align-self-center ">
                                <h5 class="text-center text-secondary">
                                    <strong>
                                        @item.product.Product_Name
                                    </strong>
                                </h5>
                            </div>
                            <div class="col-lg-2 col-4 align-self-center ">
                                <p class="m-0 text-center text-secondary">
                                    <strong class="product_price price_single">@item.product.price </strong>
                                </p>
                            </div>
                            <div class="col-lg-2 col-4 align-self-center  d-flex text-secondary">
                                <p class="m-0 pt-1">x&nbsp;</p>
                                <input type="number" class="form-control h-100 pr-0 quantity" min="1" max="@item.product.Amount"
                                       value="1" onchange="updateQuantity(@item.product.ID, @item.product.price)"
                                       id="quantity_@item.product.ID" />
                                <p class="m-0 pt-1 d-lg-none d-flex">&nbsp;=</p>
                            </div>
                            <div class="col-lg-2 col-4 align-self-center ">
                                <p class="m-0 text-danger total text-center">
                                    <strong class="product_price price_total" id="price_@item.product.ID">
                                        @item.product.price
                                    </strong>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 py-1  d-flex justify-content-end  text-warning order-md-3 order-1">
                        <i class="fas fa-times" onclick="removeProduct(@item.product.ID)"></i>
                    </div>
                </div>
            }
            <div class="row justify-content-end ">
                <div class="col-lg-3 col-md-5 col-8">
                    <div class="row d-flex justify-content-between">
                        <div class="">
                            <p class="mb-1 font-weight-bold text-secondary">Tạm tính: </p>
                            <p class="mb-1 font-weight-bold text-secondary">Phí vận chuyển: </p>
                            <p class="mb-1 font-weight-bold text-secondary">Phụ phí: </p>
                            <p class="mb-1 font-weight-bold text-secondary">Tổng cộng: </p>
                        </div>
                        <div class="">
                            <p class="mb-1 text-right text-secondary product_price" id="cost"></p>
                            <p class="mb-1 text-right text-secondary">0đ</p>
                            <p class="mb-1 text-right text-secondary">0đ</p>
                            <strong class="mb-1 text-right text-secondary product_price text-danger" id="total"></strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-lg-3 col-md-5">
                    <div class="row">
                        @*<a class="btn btn-primary w-100 text-white" data-toggle="modal"
                            data-target="#OrderInfoModal" onclick="getCart()">Tiếp tục đặt hàng</a>*@
                        <button class="btn btn-primary w-100 text-white" onclick="checkLogin()">Tiếp tục đặt hàng</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addressModalLabel">Thông tin giao hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <strong>Địa chỉ giao hàng</strong>
                    <textarea class="form-control" id="address" placeholder="Địa chỉ"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="order()">Đặt hàng</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/Cart.js"></script>
@*<script type="text/javascript" src="~/js/general.js"></script>*@
<script>
    displayThumbnail();
    convertPrice();
    setQuantity();
    caculateBillTotal();
</script>