@model Shop_Online.Models.ViewModels.DetailProduct

@{
    ViewData["Title"] = "Phân phối, cung cấp " + Model.product.product.Product_Name + " chính hãng, giá rẻ - ";
    ViewData["Description"] = "Phân phối, cung cấp " + Model.product.product.Product_Name + " chính hãng," +
                " bảo hành 24 tháng, đổi mới trong 30 ngày đầu tiên, mua trả góp 0%. Liên hệ: 0969.076.447.";
    ViewData["Keyworks"] = Model.product.product.Product_Name;
    ViewData["Author"] = Model.product.product.Product_Name;
    ViewData["Og-Title"] = "Phân phối, cung cấp " + Model.product.product.Product_Name + " chính hãng, giá rẻ.";
    ViewData["Og-Description"] = "Phân phối, cung cấp " + Model.product.product.Product_Name + " chính hãng," +
                " bảo hành 24 tháng, đổi mới trong 30 ngày đầu tiên, mua trả góp 0%. Liên hệ: 0969.076.447.";

    //SỬA SAU
    ViewData["Og-Url"] = "https://localhost:44386/products/detail?p=" + Model.product.url;
    ViewData["Og-Image"] = @Model.product.productImages[0].Image;
    ViewData["Img-Src"] = @Model.product.productImages[0].Image;
    ViewData["Dc-Title"] = "Phân phối, cung cấp " + Model.product.product.Product_Name + " chính hãng, giá rẻ";

    //SỬA SAU
    ViewData["Dc-Identifier"] = "https://localhost:44386/products/detail?p=" + Model.product.url;
    ViewData["Dc-Description"] = "Phân phối, cung cấp " + Model.product.product.Product_Name + " chính hãng," +
                " bảo hành 24 tháng, đổi mới trong 30 ngày đầu tiên, mua trả góp 0%. Liên hệ: 0969.076.447.";
    ViewData["Dc-Subject"] = Model.product.product.Product_Name;
    ViewData["Alternate"] = "https://localhost:44386/products/detail?p=" + Model.product.url;
    ViewData["Canonical"] = "https://localhost:44386/products/detail?p=" + Model.product.url;
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb px-lg-5 mb-0">
        <li class="breadcrumb-item"><a href="/" title="Trang chủ">Trang Chủ</a></li>
        <li class="breadcrumb-item"><a href="/Products/Filter?category=@Model.CatologInfo.url" title="@Model.CatologInfo.catolog">@Model.CatologInfo.catolog</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.product.product.Product_Name</li>
    </ol>
</nav>
<head>
    <link rel="stylesheet" href="~/css/ProductDetail.css" />
</head>
<div class="container-fluid pt-2 bg-light">
    <div class="container">
        <div class="row pt-2 mb-2 bg-white component">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-5 ">
                        @for (int i = 0; i < Model.product.productImages.Count(); i++)
                        {
                            <div class="mySlides image-container">
                                <div class="numbertext">@(i+1) / @Model.product.productImages.Count() </div>
                                <img class="img-fluid thumbnail display-image w-100" src="@Model.product.productImages[i].Image" alt="@Model.product.product.Product_Name">
                                <a class="prev" onclick="plusSlides(-1)" title="Xem ảnh trước đó">❮</a>
                                <a class="next" onclick="plusSlides(1)" title="Xem ảnh tiếp theo">❯</a>
                            </div>
                        }

                        <div class="row">
                            @for (int i = 0; i < Model.product.productImages.Count(); i++)
                            {
                                <div class="column">
                                    <img class="demo cursor thumbnail" src="@Model.product.productImages[i].Image"
                                         style="width:100%" onclick="currentSlide(@i+1)" alt="@Model.product.product.Product_Name">
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-lg-7 pt-lg-0 py-3">
                        <h1>@Model.product.product.Product_Name</h1>
                        <p class="m-0 text-secondary" id="product-description">
                            @Model.product.productDescription.Product_Detail
                        </p>
                        <h4 class="m-0 mt-2">
                            <del class="product_discount_price text-secondary">
                                @Model.product.product.price
                            </del>
                        </h4>
                        <h2>
                            <strong class="product_price text-danger">
                                @Model.product.product.price
                            </strong>
                        </h2>
                        <div class="row">
                            <div class="col-md-6 py-1">
                                <a class="btn btn-success w-100 text-white"
                                   onclick="addProductToCart(@Model.product.product.ID)" title="Thêm sản phẩm vào giỏ hàng">
                                    <strong>Thêm vào giỏ</strong>
                                </a>
                            </div>
                            <div class="col-md-6 py-1">
                                <a onclick="buyNow(@Model.product.product.ID)" class="btn btn-primary w-100 text-white" title="Mua sản phẩm">
                                    <strong>Mua ngay</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="border rounded p-1">
                    <h5 class="text-warning text-center" style="font-family: Helvetica,sans-serif;">Tại sao bạn nên chọn HoangLinh.vn?</h5>
                    <div class="free-shipping d-flex">
                        <i class="fas fa-shipping-fast icon-shipping"></i>
                        <small class="pt-1">&nbsp;Sản phẩm được miễn phí giao hàng</small>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-12 policy py-2">
                            <h5 class="m-0"><strong>Chính sách bán hàng</strong></h5>
                            <div class="d-flex py-1">
                                <i class="far fa-check-circle icon"></i>
                                <small class="m-0 pt-1">&nbsp;Cam kết hàng chính hãng 100%</small>
                            </div>
                            <div class="d-flex py-1">
                                <i class="fas fa-truck icon"></i>
                                <small class="m-0 pt-1">&nbsp;Miễn phí giao hàng từ 800.000đ</small>
                            </div>
                            <div class="d-flex py-1">
                                <i class="fas fa-sync-alt icon"></i>
                                <small class="m-0 pt-1">&nbsp;Đổi trả trong 10 ngày</small>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6 col-12 service py-2">
                            <h5 class="m-0"><strong>Dịch vụ khác</strong></h5>
                            <div class="d-flex py-1">
                                <i class="fas fa-cogs icon"></i>
                                <small class="m-0 pt-1">&nbsp;Sửa chữa đồng giá 150.000đ</small>
                            </div>
                            <div class="d-flex py-1">
                                <i class="fas fa-video icon"></i>
                                <small class="m-0 pt-1">&nbsp;Kiểm tra thiết bị</small>
                            </div>
                            <div class="d-flex py-1">
                                <i class="fas fa-home icon"></i>
                                <small class="m-0 pt-1">&nbsp;Bảo hành tại nhà</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-white py-2 my-3 component d-md-block d-none">
            <div class="px-2">
                <h1>
                    Sản phẩm đang giảm giá
                </h1>
            </div>
            <hr class="w-100 mt-0"/>
            <div class="my-3 d-md-block d-none">
                <div id="carouselSaleOffProductsIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators d-lg-block d-none">
                        <li data-target="#carouselSaleOffProductsIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselSaleOffProductsIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselSaleOffProductsIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        @for (int i = 0; i < 3; i++)
                        {
                            <div class="carousel-item">
                                <div class="row">
                                    @for (int j = 0; j < 3; j++)
                                    {
                                        <div class="col-4">
                                            <a href="/products/detail?p=@Model.SaleOffProductList[i*3+j].url" title="@Model.SaleOffProductList[i].product.Product_Name">
                                                <div class="w-100 d-flex justify-content-center">
                                                    <img class="img-fluid thumbnail" src="@Model.SaleOffProductList[3*i+j].productImages[0].Image"
                                                         alt="@Model.SaleOffProductList[i].product.Product_Name">
                                                </div>
                                                <div>
                                                    <p class="text-center m-0 text-secondary product_name">
                                                        @Html.DisplayFor(modelItem => Model.SaleOffProductList[i].product.Product_Name)
                                                    </p>
                                                    <p class="text-center m-0">
                                                        <del>
                                                            <small class="product_discount_price">
                                                                @Html.DisplayFor(modelItem => Model.product.product.price)
                                                            </small>
                                                        </del>
                                                    </p>
                                                    <p class="text-center text-danger m-0">
                                                        <strong class="product_price">
                                                            @Html.DisplayFor(modelItem => Model.product.product.price)
                                                        </strong>
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        }

                    </div>
                    <a class="carousel-control-prev" href="#carouselSaleOffProductsIndicators" role="button" data-slide="prev" title="Xem thêm sản phẩm">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselSaleOffProductsIndicators" role="button" data-slide="next" title="Xem thêm sản phẩm">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row py-2 bg-white component">
            <div class="d-title w-100 d-flex justify-content-between px-2">
                <a title="Sản phẩm tương tự">
                    <h1>
                        Sản phẩm tương tự
                    </h1>
                </a>
                <a class="d-md-block d-none" title="Xem tất cả">
                    Xem tất cả <i class="fas fa-angle-double-right"></i>
                </a>
            </div>
            <hr class="w-100 mt-0" />
            @foreach (var product in Model.SameProductList)
            {
                <div class="col-lg-3 col-md-4 my-3 text-center">
                    <a href="/products/detail?p=@product.url" title=" @product.product.Product_Name">
                        <img class="img-fluid thumbnail fix-image" src="@product.productImages[0].Image"
                             alt="@product.product.Product_Name" />
                        <p class="text-center m-0 text-secondary product_name">
                            @product.product.Product_Name
                        </p>
                        <p class="text-center m-0">
                            <del>
                                <small class="product_discount_price">
                                    @product.product.price
                                </small>
                            </del>
                        </p>
                        <p class="text-center text-danger m-0">
                            <strong class="product_price">
                                @product.product.price
                            </strong>
                        </p>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
<div class="bg-light" style="height: 10px;"></div>
<div class="bg-white">
    <div id="carouselBrandIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators d-lg-block d-none">
            <li data-target="#carouselBrandIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselBrandIndicators" data-slide-to="1"></li>
            <li data-target="#carouselBrandIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-4">
                        <img class="d-block img-fluid" src="~/Images/acer.png" alt="Acer">
                    </div>
                    <div class="col-4">
                        <img class="d-block img-fluid" src="~/Images/asus.png" alt="Asus">
                    </div>
                    <div class="col-4">
                        <img class="d-block img-fluid" src="~/Images/hp.png" alt="HP">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-4 pt-md-3 pt-2">
                        <img class="d-block img-fluid" src="~/Images/mac.png" alt="Macbook">
                    </div>
                    <div class="col-4">
                        <img class="d-block img-fluid" src="~/Images/lg.png" alt="LG">
                    </div>
                    <div class="col-4 pt-md-3 pt-2">
                        <img class="d-block img-fluid" src="~/Images/samsung.png" alt="SamSung">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-4">
                        <img class="d-block img-fluid" src="~/Images/lenovo.png" alt="Lenovo">
                    </div>
                    <div class="col-4">
                        <img class="d-block img-fluid" src="~/Images/dell.png" alt="Dell">
                    </div>
                    <div class="col-4">
                        <img class="d-block img-fluid" src="~/Images/msi.png" alt="MSI">
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselBrandIndicators" role="button" data-slide="prev" title="Xem thêm sản phẩm">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselBrandIndicators" role="button" data-slide="next" title="Xem thêm sản phẩm">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<script type="text/javascript" src="~/js/ProductDetail.js"></script>
<script type="text/javascript" src="~/js/general.js"></script>
<script>
    displayThumbnail();
    breakDownLine("product-description");
    convertPrice();
    convertDiscountPrice();
    activeSlideShow();
</script>
 @*Go to www.addthis.com/dashboard to customize your tools*@ 
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-60a61025404d14e7"></script>
