@model Shop_Online.Models.ViewModels.FilterProductInfo

@{
    ViewData["Title"] = "Top " + Model.products.Count() + " " + Model.category_name + " chất lượng - ";
    ViewData["Description"] = "Top " + Model.products.Count() + " " + Model.category_name +
                " tốt nhất hiện nay, " + Model.category_name + " cấu hình tốt nhất, " +
                "pin lâu được dùng nhiều nhật hiện nay. Mua trả góp, giao nhanh 1h. Click ngay!";
    ViewData["Keyworks"] = Model.category_name + ", " + Model.category_name + " Hoàng Linh";
    ViewData["Author"] = Model.category_name;
    ViewData["Og-Title"] = "Top " + Model.products.Count() + " " + Model.category_name + " chất lượng";
    ViewData["Og-Description"] = "Top " + Model.products.Count() + " " + Model.category_name +
                " tốt nhất hiện nay, " + Model.category_name + " cấu hình tốt nhất, " +
                "pin lâu được dùng nhiều nhật hiện nay. Mua trả góp, giao nhanh 1h. Click ngay!";
    //SỬA SAU
    ViewData["Og-Url"] = "https://localhost:44386/Products/Filter?category=" + Model.url;
    ViewData["Og-Image"] = "/Images/logo.png";
    ViewData["Img-Src"] = "/Images/logo.png";
    ViewData["Dc-Title"] = "Top " + Model.products.Count() + " " + Model.category_name + " chất lượng";
    ViewData["Dc-Identifier"] = "https://localhost:44386/Products/Filter?category=" + Model.url;
    ViewData["Dc-Description"] = "Top " + Model.products.Count() + " " + Model.category_name +
                " tốt nhất hiện nay, " + Model.category_name + " cấu hình tốt nhất, " +
                "pin lâu được dùng nhiều nhật hiện nay. Mua trả góp, giao nhanh 1h. Click ngay!";
    ViewData["Dc-Subject"] = Model.category_name + ", " + Model.category_name + " Hoàng Linh";
    ViewData["Alternate"] = "https://localhost:44386/Products/Filter?category=" + Model.url;
    ViewData["Canonical"] = "https://localhost:44386/Products/Filter?category=" + Model.url;
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb px-lg-5 mb-0">
        <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.category_name - @Model.products.Count() sản phẩm</li>
    </ol>
</nav>
<head>
    <link rel="stylesheet" href="~/css/home.css" />
</head>
<div class="container my-2 d-product">
    <div class="row my-3 bg-white">
        <div class="d-title w-100 d-flex justify-content-between px-2">
            <a class="">
                <h1 class="m-0">Các dòng @Model.category_name được ưa chuộng nhất hiện nay</h1>
            </a>
            <a class="d-md-block d-none">
                <h5 class="m-0">Lọc nâng cao <i class="fas fa-sort"></i></h5>
            </a>
        </div>
        <hr class="text-secondary w-100" />
        @for (var i = 0; i < Model.products.Count(); i++)
        {
            <div class="col-lg-3 col-md-4 my-3 text-center">
                <a href="/products/detail?p=@Model.products[i].url">

                    <img class="img-fluid thumbnail" src="@Model.products[i].thumbnail" alt="@Model.products[i].product_info.Product_Name"/>
                    <p class="text-center m-0 text-secondary product_name">
                        @Html.DisplayFor(modelItem => Model.products[i].product_info.Product_Name)
                    </p>
                    <p class="text-center m-0">
                        <del>
                            <small class="product_discount_price">
                                @Html.DisplayFor(modelItem => Model.products[i].product_info.price)
                            </small>
                        </del>
                    </p>
                    <p class="text-center text-danger m-0">
                        <strong class="product_price">
                            @Html.DisplayFor(modelItem => Model.products[i].product_info.price)
                        </strong>
                    </p>

                </a>
            </div>
        }
    </div>
</div>
<script type="text/javascript" src="~/js/general.js"></script>
<script type="text/javascript">
    displayThumbnail();
    convertPrice();
    convertDiscountPrice();
</script>