@model List<Shop_Online.Models.ViewModels.HomeProduct>

@{
    ViewData["Title"] = "Laptop-Phụ kiện-Linh kiện chính hãng-";
    ViewData["Description"] = "Hoàng Linh Computer chuyên cung cấp, phân phối laptop, phụ kiện, " +
                "linh kiện chính hãng, giá tốt. Mua trả góp, ưu đãi lớn hôm nay. Click ngay!";
    //ViewData["Keyworks"] = "laptop chinh hang, linh kien may tinh chinh hang, laptop gia re, laptop hoang linh";
    ViewData["Keyworks"] = "Hoàng Linh Computer";

    ViewData["Author"] = "https://hoanglinh.tk";
    ViewData["Og-Title"] = "Laptop-Phụ kiện-Linh kiện chính hãng-Hoàng Linh Computer";
    ViewData["Og-Description"] = "Hoàng Linh Computer chuyên cung cấp, phân phối laptop, phụ kiện, " +
                "linh kiện chính hãng, giá tốt. Mua trả góp, ưu đãi lớn hôm nay. Click ngay!";


    ViewData["Og-Url"] = "https://hoanglinh.tk";
    ViewData["Og-Image"] = "/Images/logo.png";
    ViewData["Img-Src"] = "/Images/logo.png";
    ViewData["Dc-Title"] = "Laptop-Phụ kiện-Linh kiện chính hãng-Hoàng Linh Computer";
    ViewData["Dc-Identifier"] = "https://hoanglinh.tk";
    ViewData["Dc-Description"] = "Hoàng Linh Computer chuyên cung cấp, phân phối laptop, phụ kiện, " +
                "linh kiện chính hãng, giá tốt. Mua trả góp, ưu đãi lớn hôm nay. Click ngay!";
    //ViewData["Dc-Subject"] = "laptop chinh hang, linh kien may tinh chinh hang, laptop gia re, laptop hoang linh";
    ViewData["Dc-Subject"] = "Hoàng Linh Computer";
    ViewData["Alternate"] = "https://hoanglinh.tk";
    ViewData["Canonical"] = "https://hoanglinh.tk";
}
<head>
    <link rel="stylesheet" href="~/css/home.css" />
</head>
<div class="container-fluid bg-light border">
    <div class="row bg-white border">
        <div class="col-lg-8 mb-md-0 mb-2">
            <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="~/Images/carousel-1.png" alt="HoangLinh Coputer - Laptop chính hãng, giá rẻ">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/Images/carousel-3.png" alt="Máy tính Hoàng Linh - Phụ kiện chính hãng, giá rẻ">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/Images/carousel-4.png" alt="Hoàng Linh Computer - Linh kiện chính hãng, giá rẻ">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev" title="Hoàng Linh Computer">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next" title="Hoàng Linh Computer">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row border rounded mb-2 highlight-product-1 py-lg-0 py-2">
                <div class="col-lg-4 px-0 align-self-center text-center">
                    <img class="img-fluid thumbnail" src="https://drive.google.com/file/d/15s9JFqWCnMwd9unwJiQ70FwXQUxbVDhN/view?usp=sharing" alt="Laptop Hoàng Linh" />
                </div>
                <div class="col-lg-8 align-self-center">
                    <p class="p-title m-0 text-center">Laptop Lenovo IdeaPad 14</p>
                    <div class="text-center d-price border rounded">
                        <p class="m-0">Giá chỉ còn: <del>22.590.000đ</del></p>
                        <p class="m-0"><strong>19.890.000đ</strong></p>
                    </div>
                </div>
            </div>
            <div class="row border rounded mb-2 highlight-product-2 py-lg-0 py-2">
                <div class="col-lg-4 px-0 align-self-center text-center">
                    <img class="img-fluid thumbnail" src="https://drive.google.com/file/d/1JcnWNFgfXio7vdLHdhsN3_M2psiEz5gy/view?usp=sharing" alt="Ghế gaming Hoàng Linh" />
                </div>
                <div class="col-lg-8 align-self-center">
                    <p class="p-title m-0 text-center">Ghế gaming MSI MAG 2021</p>
                    <div class="text-center d-price border rounded">
                        <p class="m-0">Giá chỉ còn: <del>2.900.000đ</del></p>
                        <p class="m-0"><strong>2.350.000đ</strong></p>
                    </div>
                </div>
            </div>
            <div class="row border rounded highlight-product-3 py-lg-0 py-2">
                <div class="col-lg-4 px-0 align-self-center text-center">
                    <img class="img-fluid thumbnail" src="https://drive.google.com/file/d/1d7TCvTxRykWSrLCPgwU8f3gOefN9Yt9Y/view?usp=sharing" alt="Màn hình máy tính Hoàng Linh" />
                </div>
                <div class="col-lg-8 align-self-center">
                    <p class="p-title m-0 text-center">Màn hình LG 4k Ultra HD</p>
                    <div class="text-center d-price border rounded">
                        <p class="m-0">Giá chỉ còn: <del>19.230.000đ</del></p>
                        <p class="m-0"><strong>17.500.000đ</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-2 d-product">
        <div class="row my-3 bg-white">
            <div class="d-title w-100 d-flex justify-content-between px-2 pt-md-2 pt-1">
                <h1>Sản phẩm nổi bật</h1>
                <a class="d-md-block d-none" title="Xem tất cả">
                    <small>
                        Xem tất cả <i class="fas fa-angle-double-right"></i>
                    </small>
                </a>
            </div>
            <hr class="w-100 mt-0" />
            @for (var i = 0; i < Model.Count(); i++)
            {
                <div class="col-lg-3 col-md-4 my-3 text-center">
                    <a href="/products/detail?p=@Model[i].url" title="@Model[i].product_info.Product_Name">

                        <img class="img-fluid thumbnail fix-image" src="@Model[i].thumbnail" alt="@Model[i].product_info.Product_Name" />
                        <p class="text-center m-0 text-secondary product_name">
                            @Html.DisplayFor(modelItem => Model[i].product_info.Product_Name)
                        </p>
                        <p class="text-center m-0">
                            <del>
                                <small class="product_discount_price">
                                    @Html.DisplayFor(modelItem => Model[i].product_info.price)
                                </small>
                            </del>
                        </p>
                        <p class="text-center text-danger m-0">
                            <strong class="product_price">
                                @Html.DisplayFor(modelItem => Model[i].product_info.price)
                            </strong>
                        </p>

                    </a>
                </div>
                @if (i == 7) break;
            }
        </div>
        <div class="row my-3 bg-white">
            <div class="d-title w-100 d-flex justify-content-between px-2 pt-md-2 pt-1">
                <h1>Dành cho bạn</h1>
                <a class="d-md-block d-none" title="Xem tất cả">
                    <small>
                        Xem tất cả <i class="fas fa-angle-double-right"></i>
                    </small>
                </a>
            </div>
            <hr class="w-100 mt-0" />
            @for (var i = 8; i < Model.Count(); i++)
            {
                <div class="col-lg-3 col-md-4 my-3 text-center">
                    <a href="/products/detail?p=@Model[i].url" title="@Model[i].product_info.Product_Name">

                        <img class="img-fluid thumbnail fix-image" src="@Model[i].thumbnail" alt="@Model[i].product_info.Product_Name" />
                        <p class="text-center m-0 text-secondary product_name">
                            @Html.DisplayFor(modelItem => Model[i].product_info.Product_Name)
                        </p>
                        <p class="text-center m-0">
                            <del>
                                <small class="product_discount_price">
                                    @Html.DisplayFor(modelItem => Model[i].product_info.price)
                                </small>
                            </del>
                        </p>
                        <p class="text-center text-danger m-0">
                            <strong class="product_price">
                                @Html.DisplayFor(modelItem => Model[i].product_info.price)
                            </strong>
                        </p>
                    </a>
                </div>
            }
        </div>

    </div>
</div>
<div class="bg-white">
    <div id="carouselBrandIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-4">
                        <img class="d-block thumbnail w-100" src="https://drive.google.com/file/d/1_MZF27Bviuaze_VpjrCVxFrhxpXRFJhN/view?usp=sharing" alt="Acer">
                    </div>
                    <div class="col-4">
                        <img class="d-block thumbnail w-100" src="https://drive.google.com/file/d/1_sOGHS9oDJCvolhE3qYXqborfk0uPhCs/view?usp=sharing" alt="Asus">
                    </div>
                    <div class="col-4">
                        <img class="d-block thumbnail w-100" src="https://drive.google.com/file/d/1kriHQKDSvPOd1pp3zIcWPLbvjLBekmpY/view?usp=sharing" alt="HP">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-4 pt-md-3 pt-2">
                        <img class="d-block thumbnail w-100" src="https://drive.google.com/file/d/1dCfkxuAsD3gF0GY_ssowxoHyIl65qdb_/view?usp=sharing" alt="Macbook">
                    </div>
                    <div class="col-4">
                        <img class="d-block thumbnail w-100" src="https://drive.google.com/file/d/1ZDjiMGPi9YBpxdZe7AlPNj1TT-FVFSeG/view?usp=sharing" alt="LG">
                    </div>
                    <div class="col-4 pt-md-3 pt-2">
                        <img class="d-block thumbnail w-100" src="https://drive.google.com/file/d/1XTepwooblkqtJ6UiUuWgcai0hZ_BDQ5a/view?usp=sharing" alt="SamSung">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-4">
                        <img class="d-block thumbnail w-100" src="https://drive.google.com/file/d/1Evu-RJoNfncNccM9M_ZGQwL4VpgtlvM0/view?usp=sharing" alt="Lenovo">
                    </div>
                    <div class="col-4">
                        <img class="d-block thumbnail w-100" src="https://drive.google.com/file/d/1QBHmk4Fzn1dJ0Tv-dSB1pjz3Y7amfs_A/view?usp=sharing" alt="Dell">
                    </div>
                    <div class="col-4">
                        <img class="d-block thumbnail w-100" src="https://drive.google.com/file/d/1RBKzHyhFWuOYAF-2tXcX2mRjB-PQGmJd/view?usp=sharing" alt="MSI">
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselBrandIndicators" role="button" data-slide="prev" title="Xem thêm thương hiệu">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselBrandIndicators" role="button" data-slide="next" title="Xem thêm thương hiệu">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<script type="text/javascript" src="~/js/general.js"></script>
<script type="text/javascript">
    displayThumbnail();
    convertPrice();
    convertDiscountPrice();
</script>
